#navi ul 
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
    background-color: #ffffff;
}

#navi a
{
	display: inline;
	width: 8em;
	color: black;
	background-color = #ffffff;
	text-decoration: none;
	text-align: left; 
	font-family: Helvetica;
	font-size: 20px;
}

#navi a:hover
{
	background-color: #d3d3d3;
}

#navi li
{
	float: left;
	color: #fff;
    background-color: #ffffff;
    padding: 0.2em 2.5em;
    text-decoration: none;
    border-right: 1px solid #fff;
}

